---
---

@import "minima";

/**
 * Why is this necessary?
 *
 * MathJax tries to set it to 113.1% which hides \big\vert,
 * setting it to 105% seems to be about as big as it can get?
 *
 * It must be related to minima's font setting in _base.scss, since
 * removing that also fixes it (and kills the layout), but I can't
 * figure out what is happening.
 **/
mjx-container {
    font-size: 105% !important;
}

.lecture-nav {
    float: right;
    background-color: #eee;
    margin: 0 10px;
}

.lecture-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 15px;
}

.lecture-nav li {
    display: inline-block;
}

.lecture-nav li::before {
    content: " |";
}

.lecture-nav li.lecture-prev::before {
    content: "<";
}

.lecture-next::after {
    content: ">";
}

.answer-hidden {
    display: none;
    background-color: rgb(238, 221, 255);
    border: 1px solid rgb(153, 153, 153);
    padding: 10px 15px;
    margin: 10px;
}

.mathterm {
    background-color: #ccffff;
    margin: 20px;
}

.mathterm dt {
    padding: 0px 4px;
    border-bottom: 1px dashed black;
}

.mathterm.theorem dt {
    background-color: #66ccff;
}

.mathterm.definition dt {
    background-color: #ffe53e;
}

.mathterm dd {
    padding: 10px 15px;
}

.mathimg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/**/